//output: login.component.html

#loginPage
  #loginForm
      h2#loginTitle Login
      form([formGroup]="loginForm" novalidate (ngSubmit)="login()")
        #email([ngClass] != "{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched) }")
            input(
            formControlName = "email"
            type="text"
            placeholder="Email"
            class="textInput"
            id="userName"
            name="Benutzername"
            pattern!="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$")
            
            .form-control-feedback(*ngIf!="email.errors && (email.dirty || email.touched) ")
              span(*ngIf!="password.errors.required") Geben Sie bitte ihre Email-Adresse ein.
              span(*ngIf!="password.errors.pattern") Bitte geben sie eine korrekte Email-Adresse an.
            
        #passwordInput([ngClass] != "{'has-danger': password.invalid && (password.dirty || password.touched), 'has-success': password.valid && (password.dirty || password.touched) }")
            input(
            formControlName = "password"
            type="password"
            placeholder="Passwort"
            class="textInput passwordInput"
            id="password"
            name="Passwort")
            
            .form-control-feedback(*ngIf!="password.errors && (password.dirty || password.touched) ")
              span(*ngIf!="password.errors.required") Bitte geben Sie ein Passwort ein.
              span(*ngIf!="password.errors.minlength") Ihr passwort muss mindestes 6 Zeichen lang sein.
        
            
        .form-control-feedback(*ngIf="loginForm.valid && loginError != '' ")
          span Das Login ist fehlgeschlagen.
          br
          span Error: {{ loginError }}
          
        .loadingAnim.svgAnim( style="display: none" )
          img( src="../../assets/svg/loader.svg" )
        .inputsChecked.svgAnim( style="display: none" )
          img( src="../../assets/svg/check.svg" )
          
        button#login.button([ngClass]="{'disabled': loginForm.invalid}" type="submit") Login

      #registrieren
          a(id='toRegisterButton', routerLink="registrierung") Registrieren


      //button#toRegisterButton.button Registrieren
