//output: settings.component.html
#settingsPage
  h1 Einstellungen
  #daysServed
    h3 Noch zu leistende Diensttage
    #servedChart.barchart
      .chart
        .served.bar([ngStyle]="{width: percentServed}")
            div(class="servedC" )
              span {{daysServed}}
        .toServe.bar([ngStyle]="{width: percentToServe}")
            div(class="toServeC" )
              span {{daysToServe}}

      .legendeDiv
        h4 Legende
        .legende
          label Geleistet
          label :
          .colorBlock(class="servedC" )
        .legende
          label Noch zu leisten
          label :
          .colorBlock(class="toServeC" )
    p Sie haben {{ percentServed }} Ihres Dienstes Im grünwerk absolviert!
  #changeServiceTimeDiv
      h3 Dienstdauer ändern
      form([formGroup]="changeServiceTime" id="changeServiceTimeForm" novalidate (ngSubmit)="chnageServiceDuration()")
          .container([ngClass] != "{'has-danger': endDate.invalid && (endDate.dirty || endDate.touched), 'has-success': endDate.valid && (endDate.dirty || endDate.touched) }")
            label(for="endDate") Neues Enddatum:
            input( 
            formControlName="endDate"
            type="date" 
            class="dateInput" 
            id="endDate")
          .container([ngClass] != "{'has-danger': password.invalid && (password.dirty || password.touched), 'has-success': password.valid && (password.dirty || password.touched) }")
            input( 
            formControlName="password"
            placeholder="Passwort"
            type="password"
            id="password")
            
          button#chnageServiceButton.button([ngClass]="{'disabled': changeServiceTime.invalid}" type="submit") Ändere Dienstdauer
          
          .datesNotValidError
            .form-control-feedback(*ngIf!="(endDate.errors?.required) && (endDate.dirty || endDate.touched)")
              span Geben Sie bitte ein gültiges Datum ein.
      
        .form-control-feedback(*ngIf="changeServiceTime.valid && changeServiceError !== '' ")
          span Konnte die Dienstdauer nicht ändern!
          br
          span Error: {{ loginError }}
          
        .loadingAnim.svgAnim( style="display: none" )
          img( src="../../assets/svg/loader.svg" )
        .inputsChecked.svgAnim( style="display: none" )
          img( src="../../assets/svg/check.svg" )
  #deleteAccount
    h3 Account löschen
    button.button((click)="deleteAccount()") Löschen
